* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.shell {
  width: 500px;
  position: absolute;
}

.design {
  width: 500px;
  position: relative;
  z-index: 1;
  filter: hue-rotate(50deg);
}

.mouse {
  position: relative;
}

.right {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 58px;
}

.middle {
  position: absolute;
  z-index: 1;
  left: 104px;
  bottom: 150px;
}

.left {
  position: absolute;
  z-index: 1;
  right: 128px;
  bottom: 42px;
}

.pressed {
  fill: #7cb2f9;
}

.released {
  fill: #cae1ff;
}

@media (max-width: 768px) {
  .mouse {
    transform: scale(0.6);
  }
}

@media (min-width: 1200px) {
  .mouse {
    transform: scale(1.3);
  }
}

@media (min-width: 1900px) {
  .mouse {
    transform: scale(1.6);
  }
}
